---
import { HelloComponent } from '../components/hello.component';
const helpText = "Variable binding";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<HelloComponent />
		<HelloComponent helpText="Template" />
		<HelloComponent helpText={helpText} />

		<HelloComponent client:visible />
		<HelloComponent client:visible helpText="client-binding"/>
	</body>
</html>
